{% extends "common/index.html" %}
{% load static %}

{% block main_content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Order</h6>
    </div>
    <div class="card-body">
        <form method="POST" action="" onsubmit="calculateTotalAmount()">
            {% csrf_token %}
            <div class="form-row">
            <div class="form-group col-md-6">
                <label for="customer_name">Customer Name</label>
                <input type="text" class="form-control" name="customer_name" id="customer_name" placeholder="Customer Name">
            </div>
            <div class="form-group col-md-6">
                <label for="customer_number">Customer Number</label>
                <input type="text" class="form-control" name="customer_number" id="customer_number" placeholder="Customer Number">
            </div>
            </div>
            <div class="form-group">
                <label for="mode_of_payment">Mode of Payment</label>
                <select class="form-control" id="mode_of_payment" name="mode_of_payment" required>
                    {% for payment_option in payment_options %}
                        <option>{{ payment_option }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Stock Items List</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Group</th>
                                    <th>Subgroup</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Balance Quantity</th>
                                    <th>Purchase Quanity</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item_detail in stockitem_list %}
                                {% with remaining_quantity=item_detail.inventory.first.remaining_quantity %}
                                <tr {% if remaining_quantity <= 0 %} style="background-color: #E6E6FA" {% endif %}>
                                    <td>{{ item_detail.subgroup.group.name }}</td>
                                    <td>{{ item_detail.subgroup.name }}</td>
                                    <td>{{ item_detail.name }}</td>
                                    <td id="price_{{item_detail.id}}">{{ item_detail.price }}</td>
                                    <td>{{ remaining_quantity }}</td>
                                    <td>
                                        <!-- <label for="purchase_quantity">Purchase Quanity</label> -->
                                        <input type="number" class="form-control" name="purchase_quantity_{{item_detail.id}}" id="purchase_quantity_{{item_detail.id}}" placeholder="Purchase Quanity" onchange="quantityChange.call(this)" {% if remaining_quantity <= 0 %} disabled {% endif %}>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="is_selected_{{item_detail.id}}" id="is_selected" {% if remaining_quantity <= 0  %} disabled {% endif %} onclick="toggleItemSelect.call(this)">
                                            <label class="form-check-label" for="is_selected">
                                            Select?
                                            </label>
                                    </div>
                                    </td>
                                </tr>
                                {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount is auto calculated" readonly="readonly">
            </div>
            <div class="form-group">
                <label for="remarks">Remarks</label>
                <input type="text" class="form-control" name="remarks" id="remarks" placeholder="Remarks">
            </div>
            <div class="form-group">
                <label for="status">Order Status</label>
                <select class="form-control" id="status" name="status" required>
                    {% for status in status_options %}
                        <option>{{ status }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock main_content %}

{% block footer_js %}

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<script>
    $(document).ready(function() {
        // Call the dataTables jQuery plugin
        $('#dataTable').DataTable();
    
    })
</script>

<script>

    var selectedItems = {}

    function toggleSubmitButton(checkedBoxes){
        if(checkedBoxes.length != 0){
            $(':input[type="submit"]').prop('disabled', false);
        }
        else{
            $(':input[type="submit"]').prop('disabled', true);
        }
    }

    function getItemAmount(itemId){
        let priceElement = document.getElementById("price_"+itemId);
        let price = parseInt(priceElement.innerText)
        let quantityElement = document.getElementById("purchase_quantity_"+itemId);
        let quantity = quantityElement.value
        if(quantity == ""){
            quantityElement.value = 1;
            quantity = 1;
        }
        else{
            quantity = parseInt(quantity)
        }
        return (price*quantity)
    }

    function addToSelectedItems(itemId){
        itemAmount = getItemAmount(itemId)
        selectedItems[itemId] = itemAmount

        calculateTotalAmount()
    }

    function removeFromSelectedItems(itemId){
        if(selectedItems.hasOwnProperty(itemId)){
            delete selectedItems[itemId]
        }

        calculateTotalAmount()
    }

    function calculateTotalAmount(){
        amountOfEachItem = Object.values(selectedItems)
        totalAmount = amountOfEachItem.reduce((a, b) => a + b, 0)

        document.getElementById("amount").value = totalAmount;
        return totalAmount

    }

    var toggleItemSelect = function(){
        let itemId = this.name.split("is_selected_").pop()
        if(this.checked == true){
            // add to selectedItems
            addToSelectedItems(itemId)
        }
        else{
            // remove from selectedItems
            removeFromSelectedItems(itemId)
        }
    }

    var quantityChange = function(){
        let itemId = this.name.split("purchase_quantity_").pop()
        addToSelectedItems(itemId)
    }
    

    $(document).ready(function() {
        // Disable Submit at start
        $(':input[type="submit"]').prop('disabled', true);
    })
</script>


{% endblock footer_js %}