{% extends "common/index.html" %}
{% load static %}

{% block main_content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Modify Order</h6>
    </div>
    <div class="card-body">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-row">
            <div class="form-group col-md-6">
                <label for="customer_name">Customer Name</label>
                <input type="text" class="form-control" name="customer_name" id="customer_name" placeholder="Customer Name" value="{{ order.customer_name }}">
            </div>
            <div class="form-group col-md-6">
                <label for="customer_number">Customer Number</label>
                <input type="text" class="form-control" name="customer_number" id="customer_number" placeholder="Customer Number" value="{{ order.customer_number }}">
            </div>
            </div>
            <div class="form-group">
                <label for="mode_of_payment">Mode of Payment</label>
                <select class="form-control" id="mode_of_payment" name="mode_of_payment" required>
                    {% for payment_option in payment_options %}
                        <option {% if order.mode_of_payment == payment_option %} selected {% endif %}>{{ payment_option }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Stock Items List</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Group</th>
                                    <th>Subgroup</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Balance Quantity</th>
                                    <th>Purchase Quanity</th>
                                    <th>Action</th>
                                    <th style="display: none;">Select?</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item_detail in orderstockitem_list %}
                                <tr>
                                    <td>{{ item_detail.stockitem.subgroup.group.name }}</td>
                                    <td>{{ item_detail.stockitem.subgroup.name }}</td>
                                    <td>{{ item_detail.stockitem.name }}</td>
                                    <td id="price_{{item_detail.id}}">{{ item_detail.stockitem.price }}</td>
                                    <td>{{ item_detail.stockitem.inventory.first.remaining_quantity }}</td>
                                    <td>
                                        <!-- <label for="purchase_quantity">Purchase Quanity</label> -->
                                        <input type="number" class="form-control" name="purchase_quantity_{{item_detail.id}}" id="purchase_quantity_{{item_detail.id}}" value="{{ item_detail.quantity }}" placeholder="Purchase Quanity">
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" href="{% url 'core:delete_orderstockitem' item_detail.id %}" role="button">Delete</a>
                                    </td>
                                    <td style="display: none;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="is_selected_{{item_detail.id}}" id="is_selected" checked {% if remaining_quantity <= 0  %} disabled {% endif %}>
                                            <label class="form-check-label" for="is_selected">
                                            Select?
                                            </label>
                                    </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount is auto calculated" value="{{ order.amount }}" readonly="readonly">
            </div>
            <div class="form-group">
                <label for="remarks">Remarks</label>
                <input type="text" class="form-control" name="remarks" id="remarks" value="{{ order.remarks }}" placeholder="Remarks">
            </div>
            <div class="form-group">
                <label for="status">Order Status</label>
                <select class="form-control" id="status" name="status" value="{{ order.status }}" required>
                    {% for status in status_options %}
                        <option {% if order.status == status %} selected {% endif %}>{{ status }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

{% endblock main_content %}

{% block footer_js %}

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<script>

    function calculateTotalAmount(){
        var checkedBoxes = document.querySelectorAll('input[type=checkbox]:checked');
            var totalAmount = 0 
            for(let i=0;i<checkedBoxes.length;i++){
                let stockitemId =  checkedBoxes[i].name.split("is_selected_").pop()
                let priceElement = document.getElementById("price_"+stockitemId);
                let price = parseInt(priceElement.innerText)
                let quantityElement = document.getElementById("purchase_quantity_"+stockitemId);
                let quantity = quantityElement.value
                if(quantity == ""){
                    quantity = 1;
                }
                else{
                    quantity = parseInt(quantity)
                }
                totalAmount += (price*quantity)
            }
            document.getElementById("amount").value = totalAmount;
    }

    $(document).ready(function() {
    
        // Logic to calculate total amount
        $('input[type=checkbox]').change(function() {
            calculateTotalAmount()
        });

        // Update amount whenever purchase quanity changes
        $('[id^=purchase_quantity_]').change(function(){
            calculateTotalAmount();
        });
    });
</script>


{% endblock footer_js %}