{% extends "common/index.html" %}
{% load static %}


{% block main_content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Order List</h6>
    </div>
    <div class="card-body">
        <div style="display: flex;">
            <form method="get">
                {{ filter.form.as_p }}
                <input type="submit" />
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Created On</th>
                        <th>Customer Name</th>
                        <th>Customer Mobile</th>
                        <th>Status</th>
                        <th>Total Order Value</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item_detail in object_list %}
                    <tr>
                        <td>{{ item_detail.id }}</td>
                        <td>{{ item_detail.created_on }}</td>
                        <td>{{ item_detail.customer_name }}</td>
                        <td>{{ item_detail.customer_number }}</td>
                        <td>{{ item_detail.status }}</td>
                        <td>{{ item_detail.total_order_value }}</td>
                        <td><a class="btn btn-primary" href="{% url 'core:view_order' item_detail.id %}" role="button">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock main_content %}