{% extends "common/index.html" %}
{% load static %}

{% block main_content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Order Details</h6>
        <a class="btn btn-primary" href="{% url 'core:modify_order' order.id %}" role="button">Modify Order</a>
        <a class="btn btn-success" href="{% url 'core:create_order' %}" role="button">Add new Order</a>
    </div>
    <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="customer_name">Customer Name</label>
                    <p>{{ order.customer_name }}</p>
                </div>
                <div class="form-group col-md-6">
                    <label for="customer_number">Customer Number</label>
                    <p>{{ order.customer_number }}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="mode_of_payment">Mode of Payment</label>
                    <p>{{ order.mode_of_payment }}</p>
                </div>
                <div class="form-group col-md-6">
                    <label for="status">Order Status</label>
                    <p {% if is_order_valid is False %} style="background-color: #FF0000;" {% endif %}>{{ order.status }}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="amount">Order Amount</label>
                    <p>{{ order.amount }}</p>
                </div>
                <div class="form-group col-md-6">
                    <label for="change_amount">Change Amount</label>
                    <p>{{ order.change_amount }}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="total_order_value">Total Order Value</label>
                    <p>{{ order.total_order_value }}</p>
                </div>
                <div class="form-group col-md-6">
                    <label for="remarks">Remarks</label>
                    <p>{{ order.remarks }}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Items Purchased</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Group</th>
                                    <th>Subgroup</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Quantity brought</th>
                                    <th>Item Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item_detail in orderstockitem_list %}
                                <tr>
                                    <td>{{ item_detail.stockitem.subgroup.group.name }}</td>
                                    <td>{{ item_detail.stockitem.subgroup.name }}</td>
                                    <td>{{ item_detail.stockitem.name }}</td>
                                    <td >{{ item_detail.stockitem.price }}</td>
                                    <td>{{ item_detail.quantity }}</td>
                                    <td>{% widthratio item_detail.quantity 1 item_detail.stockitem.price %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock main_content %}