{% extends "common/index.html" %}
{% load static %}


{% block main_content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Stock Items List</h6>
    </div>
    <div class="card-body">
        <div style="display: flex;">
            <form method="get">
                {{ filter.form.as_p }}
                <input type="submit" />
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Group</th>
                        <th>Subgroup</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Total Quantity</th>
                        <th>Remaining Quantity</th>
                    </tr>
                </thead>
                <!-- <tfoot>
                    <tr>
                        <th>Group</th>
                        <th>SubGroup</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Total Quantity</th>
                        <th>Balance Quantity</th>
                    </tr>
                </tfoot> -->
                <tbody>
                    {% for item_detail in object_list %}
                    <tr>
                        <td>{{ item_detail.subgroup.group.name }}</td>
                        <td>{{ item_detail.subgroup.name }}</td>
                        <td>{{ item_detail.name }}</td>
                        <td>{{ item_detail.price }}</td>
                        <td>{{ item_detail.inventory.first.quantity }}</td>
                        <td>{{ item_detail.inventory.first.remaining_quantity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock main_content %}