{% extends "common/base.html" %}


{% block sidebar_content %}
<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">HKM</div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<li class="nav-item">
    <a class="nav-link" href="{% url 'core:stockitem_list' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Stock Item List</span></a>
</li>

<hr class="sidebar-divider">

<li class="nav-item">
    <a class="nav-link" href="{% url 'core:order_list' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Order List</span></a>
</li>

<hr class="sidebar-divider">

<li class="nav-item">
    <a class="nav-link" href="{% url 'core:create_order' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Create Order</span></a>
</li>

<hr class="sidebar-divider">


{% endblock sidebar_content %}
